/* font-family: 'DM Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 5vh;
}

header img {
    width: 50px;
    height: 50px;
}

h1 {
    margin: 5px;
    padding: 0;
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 36px;
    color: #D04F4F;
}

h3 {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 18px;
}

main {
    margin: 0 10rem;
}

.search-section {
    position: relative;
}

#search-bar {
    border: none;
    background-color: #E7E7E7;
    box-sizing: content-box;
    width: 100%;
    height: 70px;
    border-radius: 5px;
    font-family: 'Lato';
    font-size: 18px;
}

.search-icon {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    font-size: 2rem;
}

.filters-section, .active-filters {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-top: 2rem;
}

.circle-xmark {
    width: 18px;
    height: 18px;
    margin-right: 1rem;
}

.ingredients_active-filter {
    background-color: #3282F7;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    gap: 1rem;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.device_active-filter {
    background-color: #68D9A4;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    gap: 1rem;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.utensil_active-filter {
    background-color: #ED6454;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1rem;
    gap: 1rem;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: 700;
    cursor: pointer;
}

.ingredients_active-filter span {
    margin-left: 1rem;
}

.device_active-filter span {
    margin-left: 1rem;
}

.utensil_active-filter span {
    margin-left: 1rem;
}

.utensil-filter {
    background-color: #ED6454;
    width: 170px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

.recipes-section {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 364px;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.image-card {
    height: 178px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
}

.text-card {
    padding: 2rem 1rem;
}

.main-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.prep-time {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 18px;
}

.sub-text {
    display: flex;
}

.ingredients-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-family: 'Lato';
    font-size: 12px;
    width: 100%;
    max-height: 100px;
    flex: 1;
}

.ingredients-list li :nth-child(1) {
    font-weight: 700;
}

.recipe-text {
    display: -webkit-box;
    font-family: 'Roboto';
    font-weight: 400;
    font-size : 12px;
    max-height: 100px;
    overflow: hidden;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    flex: 1;
}

.ingredients-filter {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    background-color: #3282F7;
    width: fit-content;
    height: 54px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    color: white;
}

.ingredients-filter.expanded {
    flex-direction: column;
    position: relative;
    height: fit-content;
}

.ingredients-filter.expanded .ingredients-filter-title {
    display: none;
}

.ingredients-filter .ingredients_research-bar {
    display: none;
    border: none;
    background-color: #3282F7;
    font-family: 'Lato';
    font-size: 18px;
    width: 100%;
    color: #FFFF;
}

.ingredients-filter.expanded .ingredients_research-bar {
    display: block;
}


.ingredients_research-bar:focus {
    outline: none;
}

.ingredients_research-bar::placeholder{
    color: rgba(255, 255, 255, 0.774);
    opacity: 1;
}

.ingredients-filter .filter_ingredients-list  {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    column-gap : 4rem;
    row-gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
}

.ingredients-filter.expanded .filter_ingredients-list {
    display: grid;
}


.filter_ingredients-list li {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
}

.ingredients-filter.expanded .ingredients_search_icon {
    transform: rotate(180deg);
    position: absolute;
    right: 1rem;
}

.device-filter {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    background-color: #68D9A4;
    width: fit-content;
    height: 54px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    color: white;
}

.device-filter.expanded {
    flex-direction: column;
    position: relative;
    height: fit-content;
}

.device-filter.expanded .device-filter-title {
    display: none;
}

.device-filter .device_research-bar {
    display: none;
    border: none;
    background-color: #68D9A4;
    font-family: 'Lato';
    font-size: 18px;
    width: 100%;
    color: #FFFF;
}

.device-filter.expanded .device_research-bar {
    display: block;
}


.device_research-bar:focus {
    outline: none;
}

.device_research-bar::placeholder{
    color: rgba(255, 255, 255, 0.774);
    opacity: 1;
}

.device-filter .filter_device-list  {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    column-gap : 4rem;
    row-gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
}

.device-filter.expanded .filter_device-list {
    display: grid;
}


.filter_device-list li {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
}

.device-filter.expanded .device_search_icon {
    transform: rotate(180deg);
    position: absolute;
    right: 1rem;
}

.utensil-filter {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    background-color: #ED6454;
    width: fit-content;
    height: 54px;
    border-radius: 5px;
    color: white;
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    border-radius: 5px;
    color: white;
}

.utensil-filter.expanded {
    flex-direction: column;
    position: relative;
    height: fit-content;
}

.utensil-filter.expanded .utensil-filter-title {
    display: none;
}

.utensil-filter .utensil_research-bar {
    display: none;
    border: none;
    background-color: #ED6454;
    font-family: 'Lato';
    font-size: 18px;
    width: 100%;
    color: #FFFF;
}

.utensil-filter.expanded .utensil_research-bar {
    display: block;
}


.utensil_research-bar:focus {
    outline: none;
}

.utensil_research-bar::placeholder{
    color: rgba(255, 255, 255, 0.774);
    opacity: 1;
}

.utensil-filter .filter_utensil-list  {
    display: none;
    list-style-type: none;
    margin: 0;
    padding: 1rem;
    column-gap : 4rem;
    row-gap: .5rem;
    grid-template-columns: repeat(3, 1fr);
}

.utensil-filter.expanded .filter_utensil-list {
    display: grid;
}


.filter_utensil-list li {
    font-family: 'Lato';
    font-size: 18px;
    font-weight: 400;
}

.utensil-filter.expanded .utensil_search_icon {
    transform: rotate(180deg);
    position: absolute;
    right: 1rem;
    top: 1rem;
}

.no-search {
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    padding-top: 2rem;
    font-size: 18px;
    align-items: center;
}

.no-search.hidden {
    display: none;
}